/* main styling page */

body {
    display: flex;
    flex-direction: column;

    /* from the google font page */
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* start of header */
    .header {
        background-color: #1F2937;
        color: #F9FAF8;
    }

    .header-width {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .header-logo {
        margin-right: auto;
        font-size: clamp(14px, 3vw,24px);
        font-weight: 600;
    }

    .header-link-list {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        font-size: clamp(12px, 2.5vw, 18px);
        color: #E5E7EB;
        gap: 0.5em;
    }
/* end of header */

/* start of main-one */
    .m1 {
        background-color: #1F2937;
        color: white;
    }

    .m1-width {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .m1-title-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        gap: 0.25em;
    }

    .m1-image-side {
        width: 50%;
    }

    .m1-title {
        font-size: clamp(22px, 4vw, 54px);
        font-weight: 900;
        color: #F9FAF8;
    }

    .m1-title-desc {
        font-size: clamp(14px, 1.75vw, 22px);
        color: #E5E7EB;
    }
    .m1-sign-up-button {
        color: #F9FAF8;
        background-color: #3882F6;
        font-size: clamp(12px, 2vw, 16px);
        font-weight: 600;
        border-radius: 8px;
        padding: 0.25em 1.2em 0.25em;
    }
/* end of main-one  */

/* start of main-two */
    .m2 {
      
    }

    .m2-width {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    .m2-text {
        font-size: 36px;
        font-weight: 900;
        color: #1F2937;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .m2-boxes-container {
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 4em;
        width: 80%
    }

    .m2-box-container {
        display: flex;
        flex-direction: column;
        flex-basis: 175px;
    }

    .m2-box {
        border: 3px solid #3882F6;
        border-radius: 25px;
        flex-basis: 175px;
    }

    .m2-box-subtext {
        font-size: clamp(14px, 1.75vw, 18px);
        color: gray;
        text-align: center;
        text-wrap: wrap;
    }

/* end of main-two */

/* start of main-three */
.m3 {
    background-color: #E5E7EB;
}

.m3-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.quote {
    font-size: clamp(20px, 3vw, 28px);
    font-style: italic;
    color: #1F2937;
    margin-top: 10%;
    text-wrap: wrap;
    width: 80%
}

.quote-credit {
    margin-left: auto;
    margin-right: 10%;
    margin-top: 0.5em;
    margin-bottom: 8%;
    font-size: clamp(16px, 3vw, 22px);
    font-weight: 700;
}